# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        java: [ '8', '9', '11', '13', '15', '16']
        os: [ ubuntu-latest, windows-latest ]
    name: Java ${{ matrix.Java }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2

      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java }}

      - name: Show java 13 home
        run: which java

      - name: Show java version
        run: java -version

      - name: Show mvn version
        run: mvn -version

      - name: Cache Maven packages
        uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-m2
          restore-keys: ${{ runner.os }}-m2

      - name: Test with Maven
        run: mvn -Pci -B clean package ${{ matrix.jdk }}

#     - name: Archive test results
#       if: ${{ always() }}
#       uses: actions/upload-artifact@v2
#       with:
#         name: test-reports
#         path: target/**-reports/*
#         retention-days: 14
#
#     - name: Archive surefire test results
#       if: ${{ always() }}
#       uses: actions/upload-artifact@v2
#       with:
#         name: test-reports
#         path: target/surefire-reports/*
#         retention-days: 14
